@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
  <title>Home | HRManagementSystem</title>
  <!-- [Meta] -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="CodedThemes">

  <!-- [Favicon] icon -->
  <link rel="icon" href="~/assets/images/hr.png" type="image/x-icon"> <!-- [Google Font] Family -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css" >
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="~/assets/fonts/feather.css" >
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="~/assets/fonts/fontawesome.css" >
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="~/assets/fonts/material.css" >
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link" >
<link rel="stylesheet" href="~/assets/css/style-preset.css" >

</head>

<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
     @{
        var fullName = User.Identity?.Name;
        var role = User.IsInRole("Admin") ? "Admin" : "User";
    }
<div class="loader-bg">
  <div class="loader-track">
    <div class="loader-fill"></div>
  </div>
</div>

<nav class="pc-sidebar">
  <div class="navbar-wrapper">
   <div class="m-header">
  <a asp-controller="Home" asp-action="index" class="b-brand text-primary">
<img src="@Url.Content("~/assets/images/hrlogo.png")" width="80" height="50" class="m-5" />
  </a>
</div>

 <div class="navbar-content">
  <ul class="pc-navbar">
    
    <!-- Dashboard -->
    <li class="pc-item">
      <a asp-controller="Home" asp-action="Dashboard" class="pc-link">
        <span class="pc-micon">
          <i class="ti ti-dashboard"></i>
        </span>
        <span class="pc-mtext">Dashboard</span>
      </a>
    </li>

    <!-- Settings -->
    <li class="pc-item pc-hasmenu">
      <a href="javascript:void(0);" class="pc-link">
        <span class="pc-micon">
  <i class="ti ti-settings"></i>
</span>

        <span class="pc-mtext">Settings</span>
        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
      </a>
      <ul class="pc-submenu">
        <li class="pc-item"><a asp-controller="Company" asp-action="Company" class="pc-link">Company Settings</a></li>
        <li class="pc-item"><a asp-controller="Branch" asp-action="Branch"class="pc-link"> Add Branch</a></li>
        <li class="pc-item"><a asp-controller="User" asp-action="UserList" class="pc-link">Add User</a></li>
        <li class="pc-item"><a asp-controller="Department" asp-action="Department" class="pc-link">Department</a></li>
        <li class="pc-item"><a asp-controller="Designation" asp-action="Designation" class="pc-link">Designation</a></li>
        <li class="pc-item"><a asp-controller="Employees" asp-action="Index" class="pc-link">Employee</a></li>
        <li class="pc-item"><a asp-controller="EmployeeList" asp-action="EmployeeList" class="pc-link">Employee List</a></li>
      </ul>
    </li>

    <!-- Joining Formalities -->
    <li class="pc-item pc-hasmenu">
      <a href="javascript:void(0);" class="pc-link">
        <span class="pc-micon">
          <i class="ti ti-adjustments-horizontal"></i>
        </span>
        <span class="pc-mtext">Joining Formalities</span>
        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
      </a>
      <ul class="pc-submenu">
        <li class="pc-item"><a asp-controller="JoiningFormalities" asp-action="JoiningFormalities" class="pc-link">Entry Joining Formalities</a></li>
        <li class="pc-item"><a asp-controller="EmployeeJoiningFormalities" asp-action="Index" class="pc-link">Joining Formalities</a></li>
        <li class="pc-item"><a asp-controller="EmployeeSignature" asp-action="Index" class="pc-link">Upload Employee Signature</a></li>
      </ul>
    </li>

    <!-- Continue similarly for other sections: Sales, Purchases, Accountant, Reports -->

  </ul>
</div>

</nav>
<!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
<header class="pc-header">
  <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
<div class="me-auto pc-mob-drp">
  <ul class="list-unstyled">
    <!-- ======= Menu collapse Icon ===== -->
    <li class="pc-h-item pc-sidebar-collapse">
      <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>
    <li class="pc-h-item pc-sidebar-popup">
      <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>
    <li class="dropdown pc-h-item d-inline-flex d-md-none">
      <a
        class="pc-head-link dropdown-toggle arrow-none m-0"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <i class="ti ti-search"></i>
      </a>
      <div class="dropdown-menu pc-h-dropdown drp-search">
        <form class="px-3">
          <div class="form-group mb-0 d-flex align-items-center">
            <i data-feather="search"></i>
            <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
          </div>
        </form>
      </div>
    </li>
    <li class="pc-h-item d-none d-md-inline-flex">
      <form class="header-search">
        <i data-feather="search" class="icon-search"></i>
        <input type="search" class="form-control" placeholder="Search here. . .">
      </form>
    </li>
  </ul>
</div>
<!-- [Mobile Media Block end] -->
<div class="ms-auto">
  <ul class="list-unstyled">
    <li class="dropdown pc-h-item">
      <a
        class="pc-head-link dropdown-toggle arrow-none me-0"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <i class="ti ti-mail"></i>
      </a>
      <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
        <div class="dropdown-header d-flex align-items-center justify-content-between">
          <h5 class="m-0">Message</h5>
          <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-x text-danger"></i></a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
          <div class="list-group list-group-flush w-100">
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="~/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">3:00 AM</span>
                  <p class="text-body mb-1">It's <b>Cristina danny's</b> birthday today.</p>
                  <span class="text-muted">2 min ago</span>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="~/assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">6:00 PM</span>
                  <p class="text-body mb-1"><b>Aida Burg</b> commented your post.</p>
                  <span class="text-muted">5 August</span>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="~/assets/images/user/avatar-3.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">2:45 PM</span>
                  <p class="text-body mb-1"><b>There was a failure to your setup.</b></p>
                  <span class="text-muted">7 hours ago</span>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="~/assets/images/user/avatar-4.jpg" alt="user-image" class="user-avtar">
                </div>
                <div class="flex-grow-1 ms-1">
                  <span class="float-end text-muted">9:10 PM</span>
                  <p class="text-body mb-1"><b>Cristina Danny </b> invited to join <b> Meeting.</b></p>
                  <span class="text-muted">Daily scrum meeting time</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="text-center py-2">
          <a href="#!" class="link-primary">View all</a>
        </div>
      </div>
    </li>
<li class="dropdown pc-h-item header-user-profile">
  <a class="pc-head-link dropdown-toggle arrow-none me-0"
     data-bs-toggle="dropdown"
     href="#"
     role="button"
     aria-haspopup="false"
     data-bs-auto-close="outside"
     aria-expanded="false">
    <img src="~/assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar">
    <span>@fullName</span>
  </a>
  <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
    <div class="dropdown-header">
      <div class="d-flex mb-1">
        <div class="flex-shrink-0">
          <img src="~/assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar wid-35">
        </div>
        <div class="flex-grow-1 ms-3">
          <h6 class="mb-1">@fullName</h6>
          <span>@role</span>
        </div>
        <form id="logoutForm" asp-action="Logout" asp-controller="Auth" method="post" style="display: none;">
    @Html.AntiForgeryToken()
      </form>
      <a href="#" onclick="if(confirm('Are you sure you want to logout?')) document.getElementById('logoutForm').submit();" class="pc-head-link bg-transparent" title="Logout">
    <i class="ti ti-power text-danger"></i>
</a>

      </div>
    </div>
    <!-- rest of your menu -->
  </div>
</li>
  </ul>
</div>
 </div>
</header>
<!-- [ Header ] end -->



  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    <div class="page-wrapper pagehead">
            <div class="content">
                @RenderBody()
            </div>
        </div>
  </div>
  <!-- [ Main Content ] end -->
 

  <!-- [Page Specific JS] start -->
  <script src="~/assets/js/plugins/apexcharts.min.js"></script>
  <script src="~/assets/js/pages/dashboard-default.js"></script>
  <!-- [Page Specific JS] end -->
  <!-- Required Js -->
  <script src="~/assets/js/plugins/popper.min.js"></script>
  <script src="~/assets/js/plugins/simplebar.min.js"></script>
  <script src="~/assets/js/plugins/bootstrap.min.js"></script>
  <script src="~/assets/js/fonts/custom-font.js"></script>
  <script src="~/assets/js/pcoded.js"></script>
  <script src="~/assets/js/plugins/feather.min.js"></script>

  
  
  
  
  <script>layout_change('light');</script>
  
  
  
  
  <script>change_box_container('false');</script>
  
  
  
  <script>layout_rtl_change('false');</script>
  
  
  <script>preset_change("preset-1");</script>
  
  
  <script>font_change("Public-Sans");</script>
  
    @RenderSection("Scripts", required: false)


</body>
<!-- [Body] end -->

</html>